<% layout('layouts/db') %>
<body class="dashboard-body">
    <%- include('../../partials/navbars/admin-sidebar') %>
    <div class="dashboard-container">
        <p class="dashboard-location"><%= currentUser.username %> >> New Uploads</p>
        <div class="dashboard-content">
            <h1 class="dashboard-title">New Uploads</h1>
            <ul class="dashboard-list">
                <li>List of new uploads to go here.</li>
            </ul>
            
            <table class="paid-table songs-table">
                <h2 class="dashboard-subtitle">Paid Uploads</h2>
                <% for(let user of users) {%>
                    <% for(let file of user.audioFiles) {%> 
                        <% if(file.status === 'None') {%>
                            <p class="dashboard-text">There is currently no new paid uploads.</p>
                        <% } else {%>       
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Filename</th>
                        <th>Upload Date</th>
                        <th>Status</th>
                        <th>Download File</th>
                        <th>Mark as In Progress</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let user of users) {%>
                        <% for(let file of user.audioFiles) {%> 
                            <% if(file.status === 'Uploaded') {%> 
                            <tr>
                                <td><a href="/admin/users/<%=user._id %>" class="users-link"><%= user.username %></a></td>
                                <td><%= file.uploadName %></td>
                                <td>Date</td>
                                <td><%= file.status %></td>
                                <td class="songs-table-centered"><a href="" class="dashboard-btn btn-edit songs-btn download-btn"><i class="far fa-arrow-alt-circle-down"></i></a></td>
                                <td class="songs-table-centered"><button class="dashboard-btn btn-back songs-btn status-btn"><i class="far fa-check-circle"></i></button></td>
                            </tr>
                            <% } %> 
                        <% } %> 
                    <% } %> 
                </tbody>
                <% break;} %> 
                <% break;} %>
                <% } %>      
            </table>
            
            <table class="freetest-table songs-table">
                <h2 class="dashboard-subtitle">Free Test Uploads</h2>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Filename</th>
                        <th>Upload Date</th>
                        <th>Status</th>
                        <th>Download File</th>
                        <th>Mark as In Progress</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let user of users) {%>
                        <% if(user.freeTest.status === 'Uploaded') {%> 
                        <tr>
                            <td><a href="/admin/users/<%=user._id %>" class="users-link users-link-progress"><%= user.username %></a></td>
                            <td><%= user.freeTest.uploadName %></td>
                            <td>Date</td>
                            <td><%= user.freeTest.status %> </td>
                            <td class="songs-table-centered"><a href="" class="dashboard-btn btn-edit songs-btn"><i class="far fa-arrow-alt-circle-down"></i></a></td>
                            <td class="songs-table-centered"><button class="dashboard-btn btn-back songs-btn"><i class="far fa-check-circle"></i></button></td>
                        </tr>
                        <% } %> 
                    <% } %> 
                </tbody>
            </table>
        </div>
    </div>