<% layout('layouts/db') %>
<body class="dashboard-body">
    <%- include('../../partials/navbars/admin-sidebar') %>
    <div class="dashboard-container">
        <p class="dashboard-location"><%= currentUser.username %> >> Edit <%= user.username %></p>
        <div class="dashboard-content">
            <h1 class="dashboard-title">Edit <%= user.username %></h1>
            <form class="dashboard-form" action="/admin/users/<%= user._id%>?_method=PUT" method="POST">
                <label for="email">Email:</label>
                <input class="dashboard-input" type="email" placeholder="Email" name="email" value="<%= user.email %>" id="email" required>
                <p>Admin Status:</p>
                <div class="update-group">
                    <input type="checkbox" id="admin" name="isAdmin" value="true" <% if (user.isAdmin){%> checked <% } %>  >
                    <label for="admin">Admin</label>
                </div>
                <button class="dashboard-btn btn-update">Update</button>
            </form>
        </div>
    </div>
</body>